body {
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
	/* font-family: -apple-system, BlinkMacSystemFont, '微軟正黑體'; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body {
	min-height: 100vh;
	height: 100%;
	margin: 0;
}
/* 隱藏 ScrollBar */
/*chrome & Safari*/
html::-webkit-scrollbar {
	width: 0 !important;
}
body::-webkit-scrollbar {
	width: 0 !important;
}
html,
body {
	/*IE 10+*/
	-ms-overflow-style: none;
	/*Firefox*/
	overflow: -moz-scrollbars-none;
}

* {
	/* outline: 1px solid black; */
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: 'Noto Serif TC', serif;
}
#root {
	/* min-height: 100%; */
	height: 100%;
}

.mask {
	-webkit-mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22758px%22%20height%3D%221215px%22%20viewBox%3D%220%200%20758%201215%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%3E%20%3Cpath%20d%3D%22M661.405003%2C190.673386%20C732.989719%2C319.673386%20688%2C404.2%20688%2C538%20C688%2C671.8%20758%2C699%20757%2C823.816529%20C756%2C948.633058%20723.576602%2C1043.50597%20606.025644%2C1090.0359%20C488.474685%2C1136.56583%20439.939745%2C1206.03171%20356.161265%2C1214.46983%20C272.382785%2C1222.90794%20183.110635%2C1129.32155%20148.775192%2C1026.52993%20C114.439749%2C923.738317%20134.354306%2C811.741482%20114.439749%2C719.689289%20C93.8384838%2C627.637096%2033.4081049%2C555.529545%2010.7467128%2C455.039235%20C-11.9146793%2C355.316025%203.87962426%2C226.442955%2068.4302563%2C133.623661%20C133.667597%2C40.8043662%20247.661267%2C-15.9611528%20348.607468%2C3.98348904%20C449.553669%2C24.6952325%20589.820287%2C61.6733856%20661.405003%2C190.673386%20Z%22%20id%3D%22path-1%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
	mask-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22758px%22%20height%3D%221215px%22%20viewBox%3D%220%200%20758%201215%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%3E%20%3Cpath%20d%3D%22M661.405003%2C190.673386%20C732.989719%2C319.673386%20688%2C404.2%20688%2C538%20C688%2C671.8%20758%2C699%20757%2C823.816529%20C756%2C948.633058%20723.576602%2C1043.50597%20606.025644%2C1090.0359%20C488.474685%2C1136.56583%20439.939745%2C1206.03171%20356.161265%2C1214.46983%20C272.382785%2C1222.90794%20183.110635%2C1129.32155%20148.775192%2C1026.52993%20C114.439749%2C923.738317%20134.354306%2C811.741482%20114.439749%2C719.689289%20C93.8384838%2C627.637096%2033.4081049%2C555.529545%2010.7467128%2C455.039235%20C-11.9146793%2C355.316025%203.87962426%2C226.442955%2068.4302563%2C133.623661%20C133.667597%2C40.8043662%20247.661267%2C-15.9611528%20348.607468%2C3.98348904%20C449.553669%2C24.6952325%20589.820287%2C61.6733856%20661.405003%2C190.673386%20Z%22%20id%3D%22path-1%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: 100%;
	mask-size: 100%;
}
